<div class="row">



	<div class= "col-xs-3">
		<div class="panel panel-default">
			<div class="panel-image hide-panel-body">
				<img src="/banner.jpg" class="img-responsive center-block">
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-2"><img src="/user.png" height="50px" width="50px" class="rounded-img home-avatar"></div>
					<div class="col-sm-10"><H4 style="text-align: center;"><%= current_user.username %></H4>
					</div>
					<div class="col-sm-12" style="margin-top: 10px">
						<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">TWEETS<BR>
							<H6 style="color:#1E90FF; font-size: 280%;"><%= current_user.post.count %></H6>
						</div>
						<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<BR>
							<H6 style="color:#1E90FF; font-size: 280%;"><%= current_user.followers.count %></H6>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-body">
				<H5 style="color: grey; font-size:125%">Trends</H5>
				<a href="">Trend #1</a><br>
					<span style="color:grey">31k Post</span><br><br>
					<a href="">Trend #2</a><br>
					<span style="color:grey">61k Post</span><br><br>
					<a href="">Trend #3</a><br>
					<span style="color:grey">1k Post</span><br><br>
			</div>
		</div>
	</div>







	<div class= "col-xs-6">
		<%= render '/components/post_form' %><BR><BR>

		<% for @p in @posts %>
			<div class="panel panel-default post-panel">
				<div class="panel-body row">

					<DIV class="col-sm-1">
						<img src="/user.png" class=rounded-img height="50px" width="50px"></img>
					</DIV>

					<DIV class="col-sm-11">
						<p class="post-title"> <span class="post-owner"><%= User.find(@p.user_id).username %></span> 
						<span class="post-creation">-<%= @p.created_at.to_formatted_s(:short) %> </span> </p>

						<p class="post-content"><%= @p.content %></p>
					</div>

					<DIV class="col-sm-12">
						<p class="post-links">

						<span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>

						<a href="">View conversation</a>

						</P>
					</div>

				</div>
			</div>
		<% end %>
			<div class="panel panel-default post-panel">
				<div class="panel-body row">
					<DIV class="col-sm-12">

					<CENTER>
					<img src="/tucanlogo.gif" height="25px" width= "25px"></img>
					<a href="#Top"><P class="opacity: .7;">
					Back to top 
					<span class="glyphicon glyphicon-arrow-up g-links" aria-hidden="true"></span>
					</P></a>
					</CENTER>

					</DIV>
				</div>
			</div>

	</div>





	<div class= "col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>about</p>
			</div>
		</div>
	</div>
</div>
